@charset "UTF-8";
a {
	text-decoration: none;
	color: black;
}
.nav-area {
	width:100%;
	background-color: black;
	text-align: center;
	color: white;
	height: 42px;
}
.nav-area td {
	width: 25%;
	height: 40px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
}
.nav-area td:hover {
	background-color: gray;
	cursor: pointer;
}
.imgwrap{
	text-align: center;
	margin-top:20px;
}
.imgwrap img{
	width:500px;
}

.outer{
	width:700px;
	margin: 0 auto;
}